html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: maroon;
  background-image: url('background.png');
}

a, a:visited {
  color: blue;
}

footer {
  color: black;
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 40px;
}

.new {
  color: red;
}

.right {
  float: right;
  width: 300px;
  padding: 20px;
}
